/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --customColor: #f1907c;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFCF4;
    --foreground: #ededed;
    --customColor: #f1907c;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 4px black; 
  -webkit-text-fill-color: transparent;
}
html {
  scroll-behavior: smooth;
}
